# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old
.DS_Store
*.pyc

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# idea
.idea
*.iml

# building
target
build
null
dist
test-Release.output
build.log

# other scm
.svn
.CVS
.hg*
*.log